* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template:
    "header" 100px
    "main" 1fr
    "footer" 30px/
    1fr;
  width: 100vw;
  position: relative;
}

html {
  --blue: #031a6b;
  --yellow: #ffc100;
}

.active {
  background-color: var(--yellow) !important;
}

/* Media */

@media screen and (max-width: 700px) {
  body {
    grid-template:
      "header" 350px
      "main" 1fr
      "footer" 30px/
      1fr;
  }

  nav li {
    display: block;
    background-color: white;
    margin-top: 10px;
    border: 1px solid var(--blue);
    padding: 10px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    margin-left: 0px !important;
  }

  .image-med {
    display: none !important;
  }

  #about-us {
    display: grid;
    grid-template-columns: 1fr !important;
  }

  nav {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  nav li:hover {
    background-color: var(--yellow);
  }

  .underline:hover {
    border-bottom: none !important;
  }

  header {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr !important;
    position: static !important;
  }

  .h1-large {
    font-size: 2rem !important;
  }

  .back-to-top {
    left: 90% !important;
    display: none !important;
  }
}

/* Global Classes */

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style: none;
}

.padding-10-t {
  padding-top: 10px;
}

.blue-text {
  color: var(--blue);
}

.white-text {
  color: white;
}

.color-red {
  color: red;
}
.tc {
  font-size: 0.7rem;
}

p {
  color: var(--blue);
}

.border {
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.image-med {
  max-width: 80%;
  max-height: 80%;
}

/* Headings */

.h1-large {
  font-size: 3.5rem;
  color: white;
  width: 20ch;
}

.h2-med {
  font-size: 2.5rem;
  color: var(--blue);
}

.h3-med {
  font-size: 2rem;
  color: var(--blue);
}

span {
  color: var(--yellow);
}

.wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.center-text {
  text-align: center;
}
/* Grid */

.grid-col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

.grid {
  display: grid;
  place-items: center;
}

.grid-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  justify-content: center;
  align-items: center;
  grid-gap: 30px;
}

/* Margin */

.margin-60 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.margin-60-b {
  margin-bottom: 60px;
}

.margin-10 {
  margin-bottom: 10px;
}

.margin-10-t {
  margin-top: 10px;
}

.margin-40-l {
  margin-left: 40px;
}

.margin-10-l {
  margin-left: 10px;
}

/* Padding */

.padding-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.padding-20 {
  padding: 20px;
}

.padding-10 {
  padding: 10px;
}

/* Header / Nav */

header {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  place-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  grid-area: header;

  background-color: white;
  border-bottom: 1px solid var(--blue);
}

.logo {
  width: 144px;
  height: 70px;
}

.underline {
  border-bottom: 1px solid transparent;
}

.underline:hover {
  border-bottom: 1px solid var(--blue);
  transition: ease-in 1s;
}

/* Main */

.hero-video {
  position: relative;
  display: grid;
  height: calc(100vh - 70px);
  align-items: center;
}
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: -2;
}

.video-filter {
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
  position: absolute;
  z-index: -1;
}

main {
  display: grid;
  grid-template-rows: auto;
  grid-area: main;
}

.button {
  padding: 12px 15px;
  font-size: 1.1rem;
  background-color: var(--blue);
  border-radius: 5px;
  margin-top: 10px;
  color: var(--yellow);
}

.button:hover {
  color: var(--blue);
  background-color: var(--yellow);
}

.success-section {
  background-color: var(--blue);
}

.icon {
  width: 70px;
  height: 70px;
}

.icon-nav {
  width: 30px;
  height: 30px;
}

.card {
  text-align: center;
}

.prices .grid-cards {
  grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
}

.price {
  padding: 10px;
  background-color: var(--yellow);
  border-radius: 50%;
  width: 75px;
  height: 75px;
  font-size: 1.3rem;
  text-align: center;
}

.cards .grid {
  grid-gap: 15px;
}

.card li {
  display: block;
}

.box-shadow {
  box-shadow: 1px 1px 1px lightgray;
}

.border-bottom {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 10px;
}
.sponsors {
  background-color: var(--blue);
}

.sponsors .h3-med,
.sponsors p {
  color: white;
}

.google-maps {
  position: relative;
  display: grid;
  place-items: end;
  height: 400px;
}

.overlay-maps {
  background-color: white;
  margin: 10px;
}

.google-map {
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
  position: absolute;
}

.dot {
  background-color: white;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.overlay-maps p {
  width: 25ch;
}

footer {
  grid-area: footer;
}

.back-to-top {
  position: fixed;
  bottom: 5%;
  left: 97%;
  background-color: var(--yellow);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
